html, body {
	margin: 0;
	background-color: white;
}

#collasion {
	position: absolute;
	top: 65px;
	left: 25px;
	font-family: Arial;
	font-size: 11px;
	color: #8B8B8B;
}
#dbname {
	position: absolute;
	top: 65px;
	left: 225px;
	font-family: Arial;
	font-size: 11px;
	color: #8B8B8B;
}

#db-name-field {
	border: none;
	border-bottom: 1px solid #ccc;
	position: absolute;
	top: 90px;
	left: 220px;
	width: 250px;
	padding: 4px 6px;
}

#custom-select {
	z-index: 5;
	position: absolute;
	top: 90px;
	left: 25px;
	padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 170px;
    border-radius: 3px;
    overflow: hidden;
}

#custom-select select {
	overflow-y: auto;
	width: 170px;
	padding: 3px 6px;
    border: none;
    box-shadow: none;
}


.window-header {
	user-select: none;
	-moz-user-select: none;
	position: absolute;
	left: 15px;
	top: 15px;
	font-family: Arial;
	font-size: 14px;
}

.createdb-buttons {
	user-select: none;
	-moz-user-select: none;
	font-family: Arial;
	text-align: center;
	line-height: 40px;
	font-size: 13px;
	background-color: red;
	cursor: pointer;
	transition-duration: 0.1s;
}

#cancel-button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 40px;
	background-color: #BD8C8C;	
}
#cancel-button:hover {
	background-color: #AD8080;
}

#cancel-button:active {
	background-color: #987272;
}

#ok-button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 40px;
	background-color: #BD8C8C;	
	background-color: #ADC1C0;	
}

#ok-button:hover {
	background-color: #9CAEAD;
}

#ok-button:active {
	background-color: #8D9C9B;
}

#createdb-window {
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 500px;
	height: 230px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -100px;
	transition-duration: 0.5s;
	transition-property: all;
}

#background {
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	transition-duration: 0.5s;
	transition-property: all;
}

#bottom {
	width: 100%;
	height: 100px;
	background-color: white;
	position: fixed;
	left: 0;
	bottom: -70px;
	-webkit-filter: blur(15px);
    -moz-filter: blur(15px);
}

#selectedInformer {
	position: absolute;
	top: 165px;
	left: 65px;
}

#deletedb {
	user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	font-family: Arial;
	font-size: 12px;
	padding: 5px;
	background-color: #D97482;
	position: absolute;
	top: 160px;
	left: 0px;
}
#deletedb:hover {
	background-color: #C6727D;
}
#deletedb:active {
	background-color: #AE5A65;
}

#showvars {
	top: 130px;
}
#statedb {
	top: 100px;
}
#processdb {
	top: 70px;
}

.funcButtons {
	user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	font-family: Arial;
	font-size: 12px;
	padding: 5px;
	background-color: #ADC1C0;
	position: absolute;
	top: 160px;
	right: 0px;
}

.funcButtons:hover {
	background-color: #9CAEAD;
}
.funcButtons:active {
	background-color: #8D9C9B;
}

#wrap {
	width: 900px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -370px;
	margin-top: -250px;
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #ffffff; 
}


::-webkit-scrollbar-thumb {
    background: #888; 
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.dataCells[selected] {
	background-color: red;
}

.dataCells {
	-moz-user-select: none;
	cursor: pointer;
	background-color: #F7F7F7;
}
.dataCells:hover {
	background-color: #EBEBEB;
}
.dataCells:active {
	background-color: #DCDCDC;
}


table {
	table-layout: fixed;
	width: 900px;
    border-collapse: collapse;
    text-align: left;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 50px;
}

th {
	background-color: #ADC1C0;
	text-align: center;
	padding: 7px;
	font-family: Arial;
	font-size: 13px;
    border: solid 1px black;
}

td {
	padding: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Arial;
	font-size: 13px;
	border: solid 1px black;
}



#userInfoBox {
	font-family: Arial;
	font-size: 13px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: right;
}

.dbnameContainer {
	width: 145px;
	background-color: #C0E9E1;
	padding: 8px;
	font-family: Arial;
	font-size: 13px;
	text-overflow: ellipsis;
	transition-property: background-color;
	transition-duration: 0.2s;
	user-select: none;
}
.dbnameContainer:hover {
	background-color: #B1DFD6;
}
.dbnameContainer:active {
	background-color: #9CCAC1;
}

#dbsContainer {
	position: absolute;
	left: 300px;
	bottom: 50px;
	margin-top: 20px;
	padding-right: 50px;
	width: 160px;
	height: 280px;
}

#leftPanel {
	z-index: 1;
	overflow: hidden;
	position: fixed;
	background-color: #F8F8F8;
	width: 160px;
	height: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#logo {
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px; 
	-moz-user-select: none;
	user-select: none;
}

#lWord {
	font-weight: bold;
	font-size: 40px;
	font-family: Arial;
}

#sWord {
	font-weight: bold;
	font-size: 12px;
	margin-left: 5px;
	font-family: Arial;
}

#buttonContainer {
	margin-top: 50px;
}

.leftPanelButtons {
	cursor: pointer;
	width: 145px;
	background-color: #ADC1C0;
	padding: 8px;
	font-family: Arial;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	transition-property: background-color;
	transition-duration: 0.2s;
	user-select: none;
	-moz-user-select: none;
}

.leftPanelButtons:hover {
	background-color: #9CAEAD;
}

.leftPanelButtons:active {
	background-color: #8D9C9B;
}

#exitButton {
	background-color: #D97482;
	position: absolute;
	bottom: 60px;
}
#exitButton:hover {
	background-color: #C6727D;
}
#exitButton:active {
	background-color: #AE5A65;
}

#variablesContainer {
	width: 900px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -370px;
	margin-top: -250px;
	z-index: 1;
	background-color: #F8F8F8;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}